bootRE/boot.elf
system_ext/priv-app/Settings/Settings.apk
recovery.img
modem.img
product/app/VoiceAssistAndroidT/VoiceAssistAndroidT.apk
product/app/TrichromeLibrary64/TrichromeLibrary64.apk
product/app/AiAsstVision/AiAsstVision.apk
product/priv-app/NewCall/NewCall.apk
product/priv-app/MIUIBrowser/MIUIBrowser.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/MiuiCamera/MiuiCamera.apk
product/data-app/Health/Health.apk
product/data-app/MiMediaEditor/MiMediaEditor.apk
product/data-app/MiShop/MiShop.apk
product/data-app/MIUIMusicT/MIUIMusicT.apk
product/data-app/MIUIYoupin/MIUIYoupin.apk
product/data-app/SmartHome/SmartHome.apk
odm/etc/camera/unet.serialized.bin
