# Copyright (c) 2023 Xiaomi, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Xiaomi, Inc.
#
service cstransfer-default /odm/bin/hw/vendor.xiaomi.hardware.cstransfer-service
    class main
    user system
    group system root radio cache inet misc audio log wakelock
